{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Porfolio in Django</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load google_fonts %}
    <link rel="stylesheet" href="{% static 'fonts/notosans.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/roboto.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/dancingscript.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app_portfolio/style.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar" id="navbar">
        <ul class="navbar_ul">
          <li class="navbar_li"><a href="#home" class="navbar_links current_page"> Home </a></li>
          <li class="navbar_li"><a href="#education" class="navbar_links">Education</a></li>
          <li class="navbar_li"><a href="#skills" class="navbar_links">Skills</a></li>
          <li class="navbar_li"><a href="#projects" class="navbar_links">Projects</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    <footer class="text-black text-center text-lg">
      <p> Anupama Ellath &copy; <script>document.write(new Date().getFullYear());</script> </p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
     document.addEventListener("DOMContentLoaded", function() {
        var navbarLinks = document.querySelectorAll("a.navbar_links");
        navbarLinks.forEach(function(link) {
          link.addEventListener("click", function(e) {
            $(document).off("scroll");
            navbarLinks.forEach(function(navLink) {
              navLink.classList.remove("current_page");
            });
            this.classList.add("current_page");
            window.setTimeout(() => {
              $(document).on("scroll", onScroll);
            }, 500);
          });
        });
      });
      $(document).ready(function() {
        $(document).on("scroll", onScroll);
      });
      
      function onScroll(event) {
        var scrollPos = $(document).scrollTop();
        $('#navbar a').each(function() {
          var currLink = $(this);
          var refElement = $(currLink.attr("href"));
          if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() + 20 > scrollPos) {
            $('#navbar ul li a').removeClass("current_page");
            currLink.addClass("current_page");
          } else {
            currLink.removeClass("current_page");
          }
        });
      }      
    </script>
    <script src="{% static 'app_portfolio/portfolio.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
