{% extends 'app_portfolio/base.html' %} {% load static %} {% block content %}

<!-- HOME SECTION -->
{% for home in homes %}
<div class="home" id="home">
  <div class="home_left">
    <div class="home_name">{{ home.name }}</div>
    <div class="home_buttons">
      <a href="{{ home.resume.url }}" target="_blank" class="home_button">Resume</a>
      <a href="#about" class="home_button">About Me</a>
    </div>
  </div>
  <div style="background-image: url('{{ home.picture.url }}')" class="home_profile_image"></div>
</div>
{% endfor %}

<!-- ABOUT SECTION AND EXPERIENCE -->
<div id="about" class="experience-and-about">
  {% for about in about_data %}
  <div class="about">
    <p class="about_sub_title">{{ about.sub_title }}</p>
    <p class="about_description">{{ about.description }}</p>
    <div class="about_icons">
      <a href="https://github.com/anupamae" target="_blank"> <i class="fa-brands fa-github"></i> </a>
      <a href="https://www.linkedin.com/in/anupama-ellath/" target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
  {% endfor %}

  <!-- EXPERIENCE SECTION -->
  <div id="experience" class="timeline">
    <div class="outer">
      {% for experience in experience_data %}
      <div class="card">
        <div class="info">
          <h3 class="title">{{ experience.title }}</h3>
          <h6>{{ experience.period }}</h6>
          <h5>{{ experience.sub_title }}</h5>
          <p class="about_description">{{ experience.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- EDUCATION SECTION -->
<div id="education" class="education">
  <div class="timeline">
    <div class="outer">
      {% for education in education_data %}
      <div class="card">
        <div class="info">
          <h3 class="title">{{ education.title }}</h3>
          <h6>{{ education.period }}</h6>
          <h5><b>{{ education.college_name }}</b></h5>
          <p class="about_description">{{ education.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- SKILLS SECTION -->
<div id="skills" class="skills-container">
  <div class="skills">
    {% for skill in skills_data %}
    <div class="skills-details">
      <h3 class="skills-title">{{ skill.title }}</h3>
      <ul>
        {% for sk in skill.skillList %}
          <li>{{ sk }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>

<!-- PROJECTS SECTION -->
<div class="projects-full">
  <div id="projects" class="projects-container">
    <div id="carouselExampleCaptions" class="carousel slide projects" data-bs-ride="carousel" data-bs-interval="false">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% for project in projects_data %}
      <div class="carousel-item project-content {% if forloop.first %} active {% endif %}">
        <div class="d-block w-100 project-details">
          <div class="project-details">
            <h2 class="project-title">{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            <p>{{ project.skills_used }}</p>
            <div class="home_buttons">
              <a href="{{ project.github_link }}" target="_blank" class="home_button"> <i class="fa-brands fa-github"></i> GitHub</a>
              <a href="{{ project.demo_link }}" target="_blank" class="home_button">Demo</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

{% endblock%}
