{% extends 'app_portfolio/base.html' %}
{% load static %}
{% block content %} 

<!-- HOME SECTION -->

{% for home in homes %}
<div class="home">
  <div class="home_name">
    <span>
      <span>{{ home.name }}</span>
      {% if homes %}
      <form action="{{ home.resume.url }}" method="get" class="resume">
        <button type="submit" class="button">Resume</button>
      </form>
      {% endif %}
    </span>
    <img src="{{ home.picture.url }}" alt="My image" class="image" />
  </div>
</div>
{% endfor %} 

<!-- ABOUT SECTION AND EXPERIENCE -->

<div id="experience_and_about" class="experience-and-about">
  {% for about in about_data %}
  <div id="about" class="about">
    <p class="about_sub_title">{{ about.sub_title }}</p>
    <p class="about_description">{{ about.description }}</p>
  </div>
  {% endfor %}

  <!-- EXPERIENCE SECTION -->

  <div id="experience" class="timeline">
    <div class="outer">
      {% for experience in experience_data %}
      <div class="card">
        <div class="info">
          <h2 class="title">{{ experience.title }}</h2>
          <h3>{{ experience.period }}</h3>
          <h4>{{ experience.sub_title }}</h4>
          <p>{{ experience.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- EDUCATION SECTION -->

<div id="education" class="education">
  <div class="timeline">
    <div class="outer">
      {% for education in education_data %}
      <div class="card">
        <div class="info">
          <h2 class="title">{{ education.title }}</h2>
          <h3>{{ education.period }}</h3>
          <h4>{{ education.college_name }}</h4>
          <p>{{ education.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- SKILLS SECTION -->

<div id="skills" class="skills-container">
  <div class="skills">
    {% for skill in skills_data %}
    <div class="skills-details">
      <h2 class="skills-title">{{ skill.title }}</h2>
      <p class="skills-list">{{ skill.skills }}</p>
    </div>
    {% endfor %} 
  </div>
<div>
<!-- PROJECTS SECTION -->

<div id="projects">
  {% for projects in projects_data %}
  <p>{{ projects.title }}</p>
  <p>{{ projects.description }}</p>
  <p>{{ projects.skills_used }}</p>
  <p>{{ projects.github_links }}</p>
</div>
{% endfor %}

{% endblock %}
