@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefae0;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  position: fixed;
  display: flex;
  width: 100vw;
  z-index: 9999;
  background-color: #f9dbbd;
}

.navbar_ul {
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: center;
  align-items: center;
  list-style: none;
}

.navbar_li {
  padding: 1rem 1rem 1rem 1rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar_li a:hover,
.navbar_li a:active {
  color: #a53860;
  text-decoration: underline;
  border-bottom: 3px solid var(--black);
}
.navbar_links {
  color: #da627d;
  text-decoration: none;
}
.navbar_links a:active {
  text-decoration: underline;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-p {
  color: white;
  font-size: smaller;
  font-weight: bolder;
  text-align: center;
}
.home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.home_name {
  font-size: 5rem;
  font-family: "Fjalla One";
  color: #bc4749;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.image {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  margin-left: 5rem;
}

.resume {
  display: block;
  width: 6rem;
  position: relative;
}

.button {
  appearance: button;
  background-color: #f08080;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  float: left;
  margin: 1rem;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}

.button:after {
  background-clip: padding-box;
  background-color: #da627d;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active {
  border-width: 4px 0 0;
  background: none;
}

.experience-and-about {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .timeline {
    flex: 1;
    padding: 3rem;
  }
}

.about {
  margin: 3rem;
  padding: 1rem;
  background-color: #f4acb7;
  border-radius: 2rem;
  width: 40%;
  height: 40%;
}

.about_sub_title {
  font-size: 2rem;
  text-align: center;
  color: #a53860;
  margin-top: 1rem;
}

.about_description {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #a53860;
}

.about_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #bc4749;
  gap: 1rem;
  text-decoration: none;
}
.about_icons a:hover,
.about_icons a:active {
  color: #a53860;
}
.education {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .timeline {
    flex: 0.5;
    padding: 3rem;
  }
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #a53860;
  margin: 0;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  background-color: #f4acb7;
  color: #063447;
  border-radius: 1rem;
}

/* Information about the timeline */
.info {
  font-size: 1.4rem;
  padding: 1rem;
  line-height: 1.8rem;
}

/* Title of the card */
.title {
  color: #a53860;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #a53860;
  border-radius: 999px;
  left: -26.5px;
  border: 3px solid orangered;
}

.skills-container {
  min-height: 100vh;
  padding-top: 15rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills-details {
  flex: 1;
  min-width: 200px;
  padding: 0.5rem;
  margin: 1rem;
  background-color: #f4acb7;
  border: 3px solid #a53860;
  border-radius: 2rem;
}

.skills-title {
  text-align: center;
  color: #a53860;
}

.skills-list {
  font-size: 20px;
  line-height: 2rem;
  word-spacing: 1rem;
}

.projects-full {
  padding: 3rem;
}

.projects-container {
  border-radius: 2rem;
  background-color: #a53860;
  display: flex;
  align-content: center;
  justify-items: center;
}

.projects {
  flex: 1;
}

.project-content {
  height: 80vh;
}

.project-details{
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project-title {
  padding-bottom: 1rem;
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  .navbar {
    position: fixed;
    width: 100%;
  }
  .navbar_ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar_li {
    padding: 0.5rem;
  }
  .image {
    display: none;
  }
  .home {
    padding: 2rem;
    margin-top: 2rem;
  }
  .image {
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
  }
  .education {
    flex-direction: column;
  }

  .skills {
    margin: 0;
    flex-direction: column;
  }
  .resume {
    padding-left: 7rem;
  }

  .about,
  .education .timeline {
    flex: 1 0 100%;
  }

  .about {
  }
}
